/* Header */
.header {
  color: #FED049;
  background-color: #007580;
  font-family: 'Comfortaa', cursive;

  text-shadow: 0 2px 5px black;
  box-shadow: 0 0 5px 2px black inset;

  background-image: url("../images/Codesnippet.png");
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
  background-size: 100%;
}

.header h1 {
  font-weight: 700;
  font-size: 3em;
  margin: 15px 0 0;
}

.header h3 {
  margin-top: 15px;
}

.header img {
  object-fit: cover;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  margin: 0 50px 0 0;

  float: left;
}

.header-content {
  height: 200px;
  width: 750px;
  padding: 8% 0;
  margin: auto;
}

/* For header image on widescreens */
@media screen and (min-width: 1920px) {
  .header-content {
    transform: scale(1.2);
    padding: 8% 0;
  }
}

/* For header image on smallish screens */
@media screen and (max-width: 1200px) {
  .header-content {
    transform: scale(0.8);
    padding: 8% 0;
  }
}

/* For header image on very small screens */
@media screen and (max-width: 800px) {
  .header {
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: center;
    background-size: auto;
  }

  .header-content {
    transform: scale(0.6);
    padding: 4% 0;
  }
}
