/* Header */
.header {
  background-image: url("../images/TheRiflemen1.png");
}

.bar-fill {
  height: 6px;
  background-color: #007580;
  float: left;
}

.bar-background {
  height: 6px;
  background-color: #282846;
  float: right;
}

.videos iframe {
  margin: 10px 0;
}
